@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

header .nav-bar li {
    list-style: none;
}

header .nav-bar li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

#band, #news, #music, #events, #about, #media {
    position: relative;
    min-height: 70vh;
    padding: 120px 100px;
    width: 100%;
}

#band {
    background: url(/assets/img/lp-meteora.jpg);
}