@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
   --branco: #fff;
   --vermelho: #de3132;
   --preto: #000;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

header .nav-bar li {
    list-style: none;
}

header .nav-bar li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: var(--branco);
}

.details {
    position: relative;
    width: 30px;
    height: 70px;
    background: var(--vermelho);
    left: 140px;
}

.focus {
    background: var(--preto);
    padding: 0 20px;
    border-radius: 20px;
}

.focus:hover {
    background: var(--vermelho);
}

#band, #news, #music, #events, #about, #media {
    position: relative;
    min-height: 70vh;
    padding: 120px 100px;
    width: 100%;
}

#band {
    position: relative;
    background: url(/assets/img/lp-meteora.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#band .band-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#band .band-container img {
    max-width: 300px;
    filter: invert(1);
    text-align: center;
}

#band .band-container h3 {
    text-transform: uppercase;
    color: var(--branco);
    font-size: 1.5em;
    font-weight: 800;
}

#band .band-container span {
    color: var(--vermelho);
}

#band .band-container .btn {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--branco);
    font-weight: 900;
    font-size: 1.2em;
    border: 2px solid var(--branco);
    padding: 10px 30px;
    border-radius: 40px;
}

#news{
    position: relative;
    background-color: var(--vermelho);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#news .news-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 100px;
}

#news .news-container img {
    position: absolute;
    left: 0;
    width: 517px;
}

.news-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 700px;
    right: 100px;
    padding: 20px;
}

.news-content h3 {
    color: var(--branco);
    text-transform: uppercase;
    font-size: 22px;
}

.news-content p {
    color: var(--branco);
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7em;
    margin: 15px 0;
}




